@using Electricity.BusinessLogic.DTO_s;
@using Electricity.BusinessLogic.Services.Interface;
@model Electricity.BusinessLogic.DTO_s.ElectricityMeterDto;

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ElectricalMeter">Electrical meters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update electrical meter</li>
    </ol>
</nav>
<form class="row g-3 my-4" method="post" asp-controller="ElectricalMeter">
    <div class="col-md-4">

        <label asp-for="Name" class="form-label">device name</label>
        <select asp-for="Name" class="form-select">

            <option selected>@Model.Name</option>

            @foreach (var equipement in (List<ElectricalEquipementDto>)ViewData["equipements"])
            {

                <option>@equipement.Name</option>
            }
            @Html
        </select>
    </div>

    <div class="col-md-4">
        <label asp-for="Power" class="form-label">power</label>
        <input type="number" value=@Model.Power asp-for="Power" class="form-control" id="">
    </div>

    <div class="col-md-4">
        <label asp-for="Coefficient" class="form-label">coefficient</label>
        <input asp-for="Coefficient" value=@Model.Coefficient type="number" class="form-control">
    </div>

    <div class="col-md-4">
        <label asp-for="NumberOfDevice" class="form-label">quantity</label>
        <input asp-for="NumberOfDevice" value=@Model.NumberOfDevice  type="number" class="form-control">
    </div>

    <div class="col-md-4">
        <label asp-for="Time" class="form-label">time</label>
        <input asp-for="Time" type="number" value=@Model.Time class="form-control">
    </div>

    <div class="col-md-4">
        <label asp-for="RoomID" class="form-label">room</label>
        <select asp-for="RoomID" class="form-select">

            <option selected>@Model.Room.Building.Name + " " + @Model.Room.Renter.Name + " " + @Model.Room.NumberOfRoom;</option>
            @foreach (var room in (List<RoomDto>)ViewData["rooms"])
            {

                <option value=@room.Id>@room.NumberOfRoom</option>
            }

        </select>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary"> Save </button>
    </div>
</form>



