@using Electricity.BusinessLogic.DTO_s
@model Electricity.BusinessLogic.Requests.BuildingRequest

<h2 class="mt-3">Create new Building </h2>



<form class="row g-3 my-4" method="post" asp-controller="Building">
    <div class="mb-3 col-4">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="Address" class="form-label">Address</label>
        <input asp-for="Address" type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="City" class="form-label">City</label>
        <input asp-for="City" type="text" class="form-control">
    </div>

    <div class="col-4">
        <select asp-for="ElectricityMeterId" class="form-select">
        
            @foreach (var item in (List<ElectricityMeterDto>)ViewData["electricityMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>
   
    <div class="col-4">
        <select asp-for="HeatMeterId" class="form-select">
          
            @foreach (var item in (List<HeatMeterDto>)ViewData["heatMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>
   

    <div class="col-4">
        <select asp-for="WaterMeterId" class="form-select">
           
            @foreach (var item in (List<WaterMeterDto>)ViewData["waterMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>
   

    <div class="col-4">
        <label asp-for="BuildingArea" class="form-label"> Area</label>
        <input asp-for="BuildingArea" type="text" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
