
@using Electricity.BusinessLogic.DTO_s;
@using Electricity.BusinessLogic.Requests
@model Electricity.BusinessLogic.DTO_s.BuildingDto


<h2>Edit a Building </h2>



<form class="row g-3 my-4" method="post" asp-controller="Building">
    <div class="mb-3 col-4">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="Address" class="form-label">Address</label>
        <input asp-for="Address" type="text" class="form-control">
    </div>

    <div class="mb-3 col-4">
        <label asp-for="City" class="form-label">City</label>
        <input asp-for="City" type="text" class="form-control">
    </div>

    <div class="col-4">
        <select asp-for="ElectricityMeterId" class="form-select">

            <option >@Model.ElectricityMeterId</option>
            @foreach (var item in (List<ElectricityMeterDto>)ViewData["electricityMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>

    <div class="col-4">
        <select asp-for="HeatMeterId" class="form-select">

           <option >@Model.HeatMeterId</option>
            @foreach (var item in (List<HeatMeterDto>)ViewData["heatMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>


    <div class="col-4">
        <select asp-for="WaterMeterId" class="form-select">

            <option>@Model.WaterMeterId</option>
            @foreach (var item in (List<WaterMeterDto>)ViewData["waterMeters"])
            {
                <option value=@item.Id>@item.Name @item.FactoryNumber</option>

            }
        </select>
    </div>


    <div class="col-4">
        <label asp-for="BuildingArea" class="form-label"> Area</label>
        <input asp-for="BuildingArea" type="text" value=@Model.BuildingArea class="form-control">
    </div>
    <div>
        <button class="btn btn-primary" type="submit" class="btn btn-primary"> Save </button>
    </div>
</form>
