@model IEnumerable<Electricity.BusinessLogic.DTO_s.BuildingDto>

<div class="row mb-3">
    <div class="col-lg-6">
        <h2>List of buildings </h2>
    </div>


</div>

<table class="table my-4">

    <thead class="table-dark">

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Adress</th>
            <th scope="col">City</th>
            <th scope="col">Electrcity Meter</th>
            <th scope="col">Heat Meter</th>
            <th scope="col">Water Meter</th>
            <th scope="col">Building Area</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                 <td>@item.City</td>
                <td>@item.ElectricityMeter.Name</td>
                <td>@item.HeatMeter.Name</td>
                <td>@item.WaterMeter.Name</td>
                <td>@item.BuildingArea</td>
                <td>
                    <a class="btn btn-secondary" href="Building/Edit/@item.Id">edit</a>
                    <a class="btn btn-danger mx-2" href="Building/Delete/@item.Id"><i class="bi bi-trash3-fill"></i>delete</a>
                </td>
            </tr>

        }
    </tbody>
    <a class="btn btn-primary-lg" asp-action="Create" asp-controller="Building">create</a>
</table>