@model IEnumerable<Electricity.BusinessLogic.DTO_s.RoomElectricalEquipementDto>

<div class="row mb-3">
    <div class="col-lg-6">
      
    </div>


</div>

<table class="table my-4">

    <thead class="table-dark">

        <tr>
            <th scope="col">Room </th>
            <th scope="col">Device</th>
            <th scope="col">Working Time </th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoomDto.Name @item.RoomDto.Floor</td>
                <td>@item.ElectricalEquipementDto.Coefficient @item.ElectricalEquipementDto.Name @item.ElectricalEquipementDto.Power</td>
                <td>@item.WorkingTime</td>
               
                <td>
                    <a class="btn btn-secondary" href="RoomElectricalEquipement/Edit/@item.Id">edit</a>
                    <a class="btn btn-danger mx-2" href="RoomElectricalEquipement/Delete/@item.Id"><i class="bi bi-trash3-fill"></i>delete</a>
                </td>
            </tr>

        }
    </tbody>
    <a class="btn btn-primary-lg" asp-action="Create" asp-controller="RoomElectricalEquipement">create</a>
</table>